# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDE and Editor configs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
